* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --light-grey: #a0a7ab;
    --sky-blue: #c6dff1;
}

body {
	font-size: 18px;
	line-height: 22px;	
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
}

p {
}

img, video {
	width: 100%;
}

a {
    text-decoration: none;
}

a:hover {

}

a:active {
	/*color:#FFF;*/
}

header {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    max-width: 100%;
    background-color: rgba(0,0,0,.75);
}

ul {
	list-style-type: none;
	margin: 0px;
}

/* ids */

#main {
}


/* classes */


.hidden {
    display: none;
}

.visible {
    display: block;
}

.menu-item
{
    color: var(--light-grey);
    padding: 5px 0;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    border-left: 1px solid var(--light-grey);
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);   
}
.menu-item-container:first-child .menu-item
{
    border-left: none;
}

/* laptop / tablet */
@media screen and (min-width: 768px) {
    header
    {
        display: flex;
    }
    .menu-item-container, 
    #logo-container
    {
        flex: 1;
    }
    .noTouchScreen header
    {
        background-color: transparent;
    }
    .noTouchScreen header:hover
    {
        background-color: rgba(0,0,0,.75);
    }
    .noTouchScreen .menu-item:hover
    {
        color: #000;
    }
    .noTouchScreen .menu-item-container:hover
    {
        background-color: var(--sky-blue);
    }
}
