* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --light-grey: #a0a7ab;
    --sky-blue: #c6dff1;
}

body {
	font-size: 18px;
	line-height: 22px;	
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
    font-family: chapman, sans-serif;
}

p {
}

img, video {
	width: 100%;
}

a {
    text-decoration: none;
}

a:hover {

}

a:active {
	/*color:#FFF;*/
}

header {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    max-width: 100%;
    /*background-color: rgba(0,0,0,.75);*/
    background-color: #000;
}

ul {
	list-style-type: none;
	margin: 0px;
}

/* ids */

#main {
}
#logo
{
    width: 130px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#logo-container
{
    position: relative;
    /*background: url(../../media/svg/logo-light-grey.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;*/
    height: 60px;
}

#header-wrapper #logo-container
{
    border-left: 1px solid var(--light-grey);
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey); 
    height: auto;  
}
#header-wrapper #logo
{
    width: 80px;
}


/* classes */


.hidden {
    display: none;
}

.visible {
    display: block;
}

.menu-item
{
    color: var(--light-grey);
    padding: 8px 0;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    border-left: 1px solid var(--light-grey);
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);   
}

.menu-version-2 .menu-item
{
    padding: 5px 0;
}
.menu-item > .blink-container
{
    margin-top: 4px;
    vertical-align: top;
}
.menu-item-container:first-child .menu-item
{
    border-left: none;
}

.blink-container
{
    position: relative;
    min-width: 50px;
    display: inline-block;
    height: 5px;

}
.blink
{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../media/svg/blink_1.svg');
    display: none;
}
.blink-hover-zone:hover .blink,
.blink-hover-zone.active .blink
{
    display: block;
    animation: blinking_1 .75s infinite linear;
}

@keyframes blinking_1 {
    0%
    {
        background-image: url('../../media/svg/blink_1.svg');
    }
    24.5%
    {
        background-image: url('../../media/svg/blink_1.svg');
    }
    25%
    {
        background-image: url('../../media/svg/blink_2.svg');
    }
    49.5%
    {
        background-image: url('../../media/svg/blink_2.svg');
    }
    50%
    {
        background-image: url('../../media/svg/blink_3.svg');
    }
    74.5%
    {
        background-image: url('../../media/svg/blink_3.svg');
    }
    75%
    {
        background-image: url('../../media/svg/blink_4.svg');
    }
    100%
    {
        background-image: url('../../media/svg/blink_4.svg');
    }

}
/* laptop / tablet */
@media screen and (min-width: 768px) {
    #header-wrapper
    {
        display: flex;
    }
    .menu-item-container, 
    #logo-container
    {
        flex: 1;
    }
    .noTouchScreen header
    {
        background-color: transparent;
    }
    .noTouchScreen header:hover
    {
        /*background-color: rgba(0,0,0,.75);*/
        background-color: #000;
    }
    .noTouchScreen .menu-item:hover
    {
        color: #000;
    }
    .noTouchScreen .menu-item-container:hover
    {
        background-color: var(--sky-blue);
    }
}
