* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --light-grey: #a0a7ab;
    --sky-blue: #c6dff1;
}
html
{
    scroll-behavior: smooth;
}
body {
	font-size: 14px;
	line-height: 20px;	
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
    font-family: ibm_plex_mono, monospace;
    background-color: #000;
    color: var(--light-grey);
    /*padding-bottom: 20px;*/
    /*overflow: hidden;*/
}
body.fadeout
{
    height: 100vh;
    overflow: hidden;
}


h1, h2, h3
{
    font-size: 1em;
    font-weight: normal;
}
p {
}

img, video {
	width: 100%;
}

a {
    text-decoration: none;
    color: var(--light-grey);
}

a:hover {

}

a:active {
	/*color:#FFF;*/
}

header {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    max-width: 100%;
    /*background-color: rgba(0,0,0,.75);*/
    background-color: #000;
    font-family: ibm_plex_mono, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0px;
}


/* general */

.fullpage
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}
.hidden {
    display: none;
}
.main-container
{
    padding-top: 150px;
    padding-bottom: 60px;
}
#mask
{
    background-color: rgba(0,0,0,.75);
    visibility: hidden;
    opacity: 0;
    z-index: 950;
    color: var(--light-grey);
    
}
#mask-loading
{
    background-color: rgba(0,0,0,.75);
    visibility: hidden;
    opacity: 0;
    z-index: 950;
    transition: opacity .5s;
}
body.fadeout #mask
{
    visibility: initial;
    opacity: 1;
    transition: opacity .35s;
}
body.loading #mask-loading
{
    visibility: initial;
    opacity: 1;
    transition: none;
}
#btn-close-mask{
    display: block;
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
}
#chrome-mask
{
    position: fixed;
    top: -70px;
    height: 70px;
    width: 100vw;
    max-width: 100%;
    background-color: #000;
    z-index: 1000;
}

/* blink */
.blink-container {
    position: relative;
    min-width: 50px;
    display: inline-block;
    height: 5px;
    vertical-align: top;

}
.press-detail.title .blink-container
{
    min-width: 30px;
    margin-top: 9px;
}
.blink {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../media/svg/blink_1.svg');
    display: none;
}
.random-blink-hover-zone {
    position: relative;
}
.random-blink-container {
    position: absolute;
    width: 50px;
    height: 50px;
}
.noTouchScreen .blink-hover-zone:hover .blink
{
    display: block;
    animation: blinking_1 .75s infinite linear;
}
.blink-hover-zone.active .blink{
    display: block;
    background-image: url('../../media/svg/blink_1.svg');
}
.blink-hover-zone.active .menu-item  {
    background-color: var(--sky-blue);
    color: #000;
}
.image-frame
{
    background-size: 100%;   
    background-repeat: no-repeat;
    background-position: center;   
}
.image-frame.contain
{
    background-size: contain;
}
.image-frame.cover
{
    background-size: cover;
}
/* nav */

.menu-item,
.submenu-item
{
    color: var(--light-grey);
    padding: 12px 0;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    border-bottom: 1px solid var(--light-grey);
}
.submenu-container { display: none; }
.submenu-parent.expanded .submenu-container { display: block; }
.submenu-item-container
{
    padding: 0 12%;
}
.submenu-item-container:last-child
{
    padding: 0;
}
.menu-item > .blink-container,
.submenu-item > .blink-container
{
    margin-top: 4px;
    vertical-align: top;
}
#logo {
    width: 110px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#logo-container {
    position: relative;
    height: 50px;
    border-bottom: 1px solid var(--light-grey); 
}
#menu {
    display: none;
}
#menu-background{
    background-color: #000;
    z-index: 999;
    display: none;
}
.viewing-menu #menu,
.viewing-menu #menu-background
{
    display: block;
}
#menu-toggle {
    position: fixed;
    top: 7px;
    right: 10px;
    width: 40px;
    padding: 10px 8px;
    cursor: pointer;
    transition: transform .35s;
    z-index: 1000;
}
.menu-icon-bar {
    height: 2px;
    background-color: var(--light-grey);
    margin-bottom: 5px;
    transform-origin: center;
}
.menu-icon-bar:last-child {
    margin-bottom: 0;
}
.viewing-menu .menu-icon-bar:first-child {
    transform: translate(0, 7px) rotate(45deg);
}
.viewing-menu .menu-icon-bar:nth-child(2) {
    opacity:0;
}
.viewing-menu .menu-icon-bar:last-child {
    transform: translate(0, -7px) rotate(-45deg);
}

/* season lobby */

.horizontal-slideshow-container
{
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}
.horizontal-slideshow-container::-webkit-scrollbar {
    display: none;
}
#slideshow-carrier
{
    display: flex;
    flex-wrap: nowrap;
    /*overflow-y: hidden; */
}
#looks-container
{
    border-bottom: 1px solid var(--light-grey);
    border-top: 1px solid var(--light-grey);
    font-family: ibm_plex_mono, sans-serif;

}
.look
{
    vertical-align: middle;
    /*display: inline-block;*/
    width: 57vw;
    flex: 0 0 auto;
    border-right: 1px solid var(--light-grey);
    padding: 20px 0;
    overflow: hidden;
}
.look:last-child
{
    border-right: none;
}
.look a
{
    display: block;
}
.look img
{
    opacity: 1;
    transition: opacity .75s;
}
body.loading .look img{
    opacity: 0;
}
.noTouchScreen .look:hover
{
    background-color: var(--sky-blue);
}
.noTouchScreen .look:hover a
{
    color: #000;
}
.thumbnail
{
    display: block;
}
.look-idx
{
    text-align: center;
    padding: 20px 20px 0 20px;
}
.slideshow-control-container
{
    padding: 10px 20px;
    text-align: right;
}
.slideshow-control-element
{
    width: 40px;
    height: 40px;
    background-image: url(../../media/svg/arrow_1.svg);
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    display: inline-block;
    margin-left: 20px;
}
.noTouchScreen .slideshow-control-element:hover
{
    border-bottom: 2px solid var(--light-grey);
    animation: arrow_next .75s infinite linear;
}

#prev
{
    transform-origin: center;
    transform: scale(-1, 1);
    /*float: left;*/
}


/* season detail */
#detail-layout-container
{
    padding-top: 59px;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 0;
}
#detail-layout-container aside
{
    background-color: #000;
}

.accessory-item-img,
.gallery-option.fade,
#image-frame-default
{
    transition: opacity .75s;
}

body.loading #detail-layout-container .accessory-item-img,
body.loading #detail-layout-container .gallery-option,
body.loading #detail-layout-container #image-frame-default
{
    opacity: 0;
}
.detail-blockname
{
    text-align: center;
    padding: 5px 10px;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    background-color: #000;
}
h1.detail-blockname,
#gallery-default-toggle
{
    border-bottom: none;
}
#season-detail-sticky-container
{
    position: fixed;
    width: 100vw;
    max-width: 100%;
    top: 49px;
    z-index: 900;
    background-color: #000;
}
#gallery-frame {
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.image-frame-container
{
    position: relative;
}
.image-frame
{
    position: absolute;


}
#gallery-frame .image-frame
{
    height: 100%;
    width: 100%;
    display: none;
}
#gallery-frame .image-frame.viewing
{
    display: block;
    z-index: 10;
}
main[viewing="default"] #image-frame-default
{
    display: block;
    z-index: 5;
}
main[viewing="items"] #gallery-frame #image-frame-default
{
    display: none;
}
.gallery-image
{
    display: none;
}
.gallery-image.viewing
{
    display: block;
}
#accessory-item-container
{
    flex-wrap: wrap;
    /*border-bottom: 1px solid var(--light-grey);*/
    /*display: none;*/
    display: flex;
    position: absolute;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background-color: #000;
    max-height: 60vh;
    transform: translate(0 ,-100%);
    z-index: -1;
}
div[viewing-list="items"] #accessory-item-container
{
    display: flex;
    transform: translate(0 ,0);
    transition: transform .35s;
    height: auto;
    overflow: scroll;
}
.accessory-item
{
    display: inline-block;
    width: 33%;
    /*border-top: 1px solid var(--light-grey);*/
    border-right: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    cursor:pointer;
}
.accessory-item:nth-child(3n)
{
    border-right: none;
}
.noTouchScreen .accessory-item:hover,
.accessory-item.active
{
    background-color: var(--sky-blue);
    color: #000;
}
.noTouchScreen .accessory-item:hover .accessory-item-info,
.accessory-item.active .accessory-item-info
{
    border-top: 1px solid #000;
}
#rank-container
{
    margin-top: 5px;
}
.rank
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../media/svg/blink_1-outline-light.svg);
    background-size: 100%;
}
.rank.active
{
    background-image: url(../../media/svg/blink_1-light.svg);
}
.noTouchScreen .accessory-item:hover .rank,
.accessory-item.active .rank
{
    background-image:url(../../media/svg/blink_1-light.svg);
}
.noTouchScreen .accessory-item:hover .rank.active
{
    animation: blinking_1 .75s infinite linear;
}
.accessory-item.active .rank.active
{
    background-image:url(../../media/svg/blink_1.svg);
}
.accessory-item-img
{
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.accessory-item-info
{
    text-align: center;
    padding: 5px;
    border-top: 1px solid var(--light-grey);
}

#gallery-item-container
{
    position: absolute;
    right: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    transform: translate(0, -100%);
    height: 0;
    overflow: hidden;
    z-index: -1;
    max-height: 60vh;
}
div[viewing-list="gallery"] #gallery-item-container
{
    transform: translate(0, 0);
    transition: transform .35s;
    height: auto;
    overflow: scroll;
}
.gallery-option
{
    background-color: #fff;
    cursor: pointer;
    width: 25%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery-option.active
{
    opacity: 0.5;
}

#gallery-default-toggle
{
    display: none;
    cursor:pointer;
    font-size: 1.25em;
}
.noTouchScreen #gallery-default-toggle:hover
{
    background-color: var(--sky-blue);
    color: #000;
}
#sky-container
{
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    /*animation: sky 20s alternate linear infinite;*/
    /*filter: blur(60px);*/
}
#sky-canvas
{
    filter: blur(60px);
}

div.sky-element{
    filter: blur(40px);
    position: absolute;
    border-radius: 50%;
    /*background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;*/
}
div.sky-element.blur
{
    filter: blur(60px);
}
div.sky-element.sky-blue
{
    background-color: rgba(170, 220, 255, 1);
    /*background-image: url(../../media/png/blur-blue-2.png);*/
    z-index: 10;
}
div.sky-element.sky-white
{
    background-color: rgba(255, 255, 255, 1);
    /*background-image: url(../../media/png/blur-white.png);*/
    z-index: 500;
}
#sSky_canvas
{
    width: 100%;
    height: 100%;
}

.sky-group
{
    position: absolute;
    transition-timing-function: linear;
    width: 120vw;
    height: 120vh;
}
main[viewing="gallery"] #gallery-default-toggle,
main[viewing="items"] #gallery-default-toggle
{
    display: block;
}
main[viewing="gallery"] h1.detail-blockname,
main[viewing="items"] h1.detail-blockname
{
    display: none;
}
main[viewing="gallery"] #gallery-frame {
    height: auto;
}

#detail-text
{
    padding: 20px 20px 20px 20px;
}
#accessory-container,
#gallery-container
{
    width: 50%;
    display: inline-block;
    background-color: #000;
}
#accessory-container
{
    border-right: 1px solid var(--light-grey);
}
#accessory-container > h2:first-child,
#gallery-container > h2:first-child
{
    display: none;
}
#items-toggle.active,
#gallery-toggle.active
{
    background-color: var(--sky-blue);
    color: #000;
}
#season-detail-container
{
    padding-top: 63px;
}
#landing-video-container
{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#landing-video-container video
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.large-text
{
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}
#text-container > section
{
    margin: 0 20px;
}
.press-link
{
    display: block;
    padding: 20px 20px;
    border-bottom: 1px solid var(--light-grey);
}
.press-detail.date
{
    margin-bottom: 20px;
}

.press-detail.platform
{
    margin-top: 20px;
}
.noTouchScreen .press-link:hover
{
    background-color: var(--sky-blue);
    color: #000;
}
#loading-icon
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-image: url(../../media/svg/blink_w_1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    transform-origin: center;
}
.loading #loading-icon
{
    display: block;
    animation: blinking_w 1s infinite linear;
}
@keyframes blinking_1 {
    0%
    {
        background-image: url(../../media/svg/blink_1.svg);
    }
    24.5%
    {
        background-image: url(../../media/svg/blink_1.svg);
    }
    25%
    {
        background-image: url('../../media/svg/blink_2.svg');
    }
    49.5%
    {
        background-image: url('../../media/svg/blink_2.svg');
    }
    50%
    {
        background-image: url('../../media/svg/blink_3.svg');
    }
    74.5%
    {
        background-image: url('../../media/svg/blink_3.svg');
    }
    75%
    {
        background-image: url('../../media/svg/blink_4.svg');
    }
    100%
    {
        background-image: url('../../media/svg/blink_4.svg');
    }

}
@keyframes blinking_w {
    0%
    {
        background-image: url(../../media/svg/blink_w_1.svg);
        /*transform: translate(-50%, -50%) rotate(0deg);*/
    }
    24.5%
    {
        background-image: url(../../media/svg/blink_w_1.svg);
        /*transform: translate(-50%, -50%) rotate(0deg);*/
    }
    25%
    {
        background-image: url('../../media/svg/blink_w_2.svg');
        /*transform: translate(-50%, -50%) rotate(22.5deg);*/
    }
    49.5%
    {
        background-image: url('../../media/svg/blink_w_2.svg');
        /*transform: translate(-50%, -50%) rotate(22.5deg);*/
    }
    50%
    {
        background-image: url('../../media/svg/blink_w_3.svg');
        /*transform: translate(-50%, -50%) rotate(45deg);*/
    }
    74.5%
    {
        background-image: url('../../media/svg/blink_w_3.svg');
        /*transform: translate(-50%, -50%) rotate(45deg);*/
    }
    75%
    {
        background-image: url('../../media/svg/blink_w_4.svg');
        /*transform: translate(-50%, -50%) rotate(72.5deg);*/
    }
    100%
    {
        background-image: url('../../media/svg/blink_w_4.svg');
        /*transform: translate(-50%, -50%) rotate(72.5deg);*/
    }

}
@keyframes arrow_next {
    0%
    {
        background-image: url('../../media/svg/arrow_1.svg');
    }
    24.5%
    {
        background-image: url('../../media/svg/arrow_1.svg');
    }
    25%
    {
        background-image: url('../../media/svg/arrow_2.svg');
    }
    49.5%
    {
        background-image: url('../../media/svg/arrow_2.svg');
    }
    50%
    {
        background-image: url('../../media/svg/arrow_3.svg');
    }
    74.5%
    {
        background-image: url('../../media/svg/arrow_3.svg');
    }
    75%
    {
        background-image: url('../../media/svg/arrow_4.svg');
    }
    100%
    {
        background-image: url('../../media/svg/arrow_4.svg');
    }

}
@keyframes sky{
    0%{
        /*opacity: 1;*/
        transform: translate3d(0, 0, 0);
    }
    100%
    {
        /*opacity: 0;*/
        transform: translate3d(-100vw, 5vh, 0);
    }
}
/* laptop / tablet */
@media screen and (min-width: 768px) {
    body{
        font-size: 16px;
        line-height: 22px;
    }
    .large-text
    {
        /*font-family: 'ibm_plex_mono', monospace;*/
        font-size: 21px;
        line-height: 27px;
        font-weight: 300;
    }
    .main-container
    {
        padding-top: 200px;
    }
    #menu-toggle
    {
        display: none;
    }
    .menu-item,
    .submenu-item
    {
        padding-top: 8px;
        padding-bottom: 8px;
        border-right: 1px solid var(--light-grey);
        border-bottom: 1px solid var(--light-grey);
    }
    .submenu-item
    {
        border-top: none;
        border-left: 1px solid var(--light-grey);
    }
    #menu
    {
        display: flex;
    }
    .menu-item-container
    {
        flex: 1;
    }
    #logo
    {
        width: 130px;
    }
    #logo-container
    {
        /*border-bottom: none;*/
        height: 60px;
        padding: 0;
    }
    .home.noTouchScreen header
    {
        background-color: transparent;
    }
    .home.noTouchScreen header:hover
    {
        /*background-color: rgba(0,0,0,.75);*/
        background-color: #000;
    }
    .noTouchScreen .menu-item-container:hover > .menu-item,
    .noTouchScreen .submenu-item:hover
    {
        color: #000;
    }
    .noTouchScreen .menu-item-container:hover,
    .noTouchScreen .submenu-item-container:hover
    {
        background-color: var(--sky-blue);
    }
    .submenu-parent
    {
        position: relative;
    }
    .submenu-container
    {
        width: 100%;
        position: absolute;
        top: 100%;
        left: -1px;
    }
    
    .menu-item-container:last-child .menu-item
    {
        border-right: none;
    }
    .noTouchScreen .submenu-parent:hover .submenu-container
    {
        display: block;
    }
    .submenu-item-container
    {
        background-color: #000;
        padding: 0;
    }
    .look
    {
        width: 30vw;
        padding: 20px 10px;
    }
    #detail-layout-container
    {
        display: flex;
        flex-wrap: wrap;
        padding-top: 130px;
        height: calc( 100vh - 20px);
        overflow: hidden;
    }
    #detail-layout-container aside
    {
        flex: 1;
        /*border-top: 1px solid var(--light-grey);*/
        -webkit-overflow-scrolling: touch;
        max-height: 100%;
        overflow-y: scroll;
    }
    #detail-layout-container aside .detail-blockname,
    #detail-layout-container main #season-detail-sticky-container
    {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
    }
    #detail-layout-container aside,
    #detail-layout-container main
    {
        scrollbar-color: var(--light-grey) transparent;
    }
    #detail-layout-container aside::-webkit-scrollbar,
    #detail-layout-container main::-webkit-scrollbar {
        width: 5px;
    }
    #detail-layout-container aside::-webkit-scrollbar-track,
    #detail-layout-container main::-webkit-scrollbar-track {
        background-color: transparent;
        border-top: 1px solid var(--light-grey);
    }
    #detail-layout-container aside::-webkit-scrollbar-thumb,
    #detail-layout-container main::-webkit-scrollbar-thumb {
        background-color: var(--light-grey);
    }
    #detail-layout-container main
    {
        flex: 2;
        border-left: 1px solid var(--light-grey);
        border-right: 1px solid var(--light-grey);
        -webkit-overflow-scrolling: touch;
        max-height: 100%;
        overflow-y: scroll;
        /*border-top: 1px solid var(--light-grey);*/
    }
    #season-detail-container
    {
        padding-top: 0;
    }
    h1.detail-blockname, #gallery-default-toggle
    {
        border-bottom: 1px solid var(--light-grey);
    }
    #gallery-frame
    {
        height: calc(100% - 34px);
    }
    #gallery-frame .detail-blockname
    {
        border-top: 1px solid var(--light-grey);
    }
    #accessory-container
    {
        /*border-bottom: 1px solid var(--light-grey);*/
        border-right: none;
        display: block;
        width: initial;
        padding-bottom: 20px;
    }
    #accessory-container > h2:first-child
    {
        display: block;
    }
    #accessory-container > #items-toggle
    {
        display: none;
    }
    #accessory-item-container
    {
        position: static;
        width: auto;
        max-height: none;
        height: auto;
        transform: none;
    }
    .accessory-item
    {
        width: 100%;
        border-right: none;
    }
    .accessory-item-img
    {
        height: 150px;
    }
    .accessory-item-info
    {
        padding: 10px;
    }
    #rank-container {
        margin-top: 10px;
    }
    .rank {
        margin-right: 3px;
    }
    .rank:last-child {
        margin-right: 0;
    }
    #gallery-container
    {
        width: initial;
        display: block;
        padding-bottom: 20px;
    }
    #gallery-item-container
    {
        transform: none;
        position: static;
        width: auto;
        max-height: none;
        height: auto;
        overflow: visible;
    }
    .gallery-option
    {
        width: 50%;
        display: inline-block;
        height: 150px;
    }
    #detail-text
    {
        padding: 10px 10px 20px 10px;
    }
    #season-detail-sticky-container
    {
        /*position: static;*/
    }
    .sky-group
    {
        width: 100vw;
        height: 100vh;
    }
    #text-container > section
    {
        margin: 0 40px;
    }
    .press-link
    {
        display: flex;
        flex-wrap: nowrap;
    }
    .press-detail.date
    {
        width: 170px;
        margin-bottom: 0;
    }
    .press-detail.title
    {
        padding-right: 30px;
        flex: 1;
    }
    .press-detail.platform
    {
        margin-top: 0;
        width: 320px;
        text-align: right;
    }
    .press-link
    {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .press-detail.title .blink-container
    {
        margin-top: 11px;
    }
}

@media screen and (min-width: 1100px) {

    .gallery-option
    {
        width: 33%;
    }
    .accessory-item
    {
        width: 50%;
        border-right: 1px solid var(--light-grey);
    }
    .accessory-item:nth-child(3n)
    {
        border-right: 1px solid var(--light-grey);
    }
    .accessory-item:nth-child(even)
    {
        border-right: none;
    }
    .look
    {
        width: 22vw;
    }
}
