#detail-layout-container
{
    padding-top: 49px;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 0;
    margin-bottom: 30px;
}
#detail-layout-container aside
{
    background-color: #000;
}

.accessory-item-img,
.gallery-option.fade,
#image-frame-default
{
    -webkit-transition: opacity .75s;
       -moz-transition: opacity .75s;
         -o-transition: opacity .75s;
            transition: opacity .75s;
}

body.loading #detail-layout-container .accessory-item-img,
body.loading #detail-layout-container .gallery-option,
body.loading #detail-layout-container #image-frame-default
{
    opacity: 0;
}
.detail-blockname
{
    text-align: center;
    padding: 5px 10px;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    background-color: #000;
}
h1.detail-blockname,
#gallery-default-toggle
{
    border-bottom: none;
}
#season-detail-sticky-container
{
    position: fixed;
    width: 100vw;
    max-width: 100%;
    top: 49px;
    z-index: 900;
    background-color: #000;
}
#gallery-frame {
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.image-frame-container
{
    position: relative;
}
.image-frame
{
    position: absolute;


}
#gallery-frame .image-frame
{
    height: 100%;
    width: 100%;
    display: none;
}
#gallery-frame .image-frame.viewing
{
    display: block;
    z-index: 10;
}
main[viewing="default"] #image-frame-default
{
    display: block;
    z-index: 5;
}
main[viewing="items"] #gallery-frame #image-frame-default
{
    display: none;
}
.gallery-image
{
    display: none;
    cursor: pointer;
}
.gallery-image.viewing
{
    display: block;
}
#gallery-hint
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
}
.viewing-hint #gallery-hint
{
    visibility: initial;
    opacity: 1;
    -webkit-transition: opacity: .35s;
       -moz-transition: opacity: .35s;
         -o-transition: opacity: .35s;
            transition: opacity: .35s;
}
#accessory-item-container
{
    flex-wrap: wrap;
    /*border-bottom: 1px solid var(--light-grey);*/
    /*display: none;*/
    display: flex;
    position: absolute;
    width: 100vw;
    height: 0;
    overflow: hidden;
    background-color: #000;
    max-height: 60vh;
    -webkit-transform: translate(0 ,-100%);
       -moz-transform: translate(0 ,-100%);
        -ms-transform: translate(0 ,-100%);
         -o-transform: translate(0 ,-100%);
            transform: translate(0 ,-100%);
    z-index: -1;
}
div[viewing-list="items"] #accessory-item-container
{
    display: flex;
    transform: translate(0 ,0);
    -webkit-transition: -webkit-transform .35s;
       -moz-transition: -moz-transform .35s;
         -o-transition: -o-transform .35s;
            transition: -webkit-transform .35s;
            transition: transform .35s;
    height: auto;
    overflow: scroll;
}
.accessory-item
{
    display: inline-block;
    width: 33%;
    /*border-top: 1px solid var(--light-grey);*/
    border-right: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    cursor:pointer;
}
.accessory-item:nth-child(3n)
{
    border-right: none;
}
.noTouchScreen .accessory-item:hover,
.accessory-item.active
{
    background-color: var(--sky-blue);
    color: #000;
}
.noTouchScreen .accessory-item:hover .accessory-item-info,
.accessory-item.active .accessory-item-info
{
    border-top: 1px solid #000;
}
#rank-container
{
    margin-top: 5px;
}
.rank
{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../media/svg/blink_1-outline-light.svg);
    background-size: 100%;
}
.rank.active
{
    background-image: url(../../media/svg/blink_1-light.svg);
}
.noTouchScreen .accessory-item:hover .rank,
.accessory-item.active .rank
{
    background-image:url(../../media/svg/blink_1-light.svg);
}
.noTouchScreen .accessory-item:hover .rank.active
{
    animation: blinking_1 .75s infinite linear;
}
.accessory-item.active .rank.active
{
    background-image:url(../../media/svg/blink_1.svg);
}
.accessory-item-img
{
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.accessory-item-info
{
    text-align: center;
    padding: 5px;
    border-top: 1px solid var(--light-grey);
}

#gallery-item-container
{
    position: absolute;
    right: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
         -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
    height: 0;
    overflow: hidden;
    z-index: -1;
    max-height: 60vh;
}
div[viewing-list="gallery"] #gallery-item-container
{
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform .35s;
       -moz-transition: -moz-transform .35s;
         -o-transition: -o-transform .35s;
            transition: -webkit-transform .35s;
            transition: transform .35s;
    height: auto;
    overflow: scroll;
}
.gallery-option
{
    background-color: #fff;
    cursor: pointer;
    width: 25%;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gallery-option.active
{
    opacity: 0.5;
}

#gallery-default-toggle
{
    display: none;
    cursor:pointer;
    font-size: 1.25em;
}
.noTouchScreen #gallery-default-toggle:hover
{
    background-color: var(--sky-blue);
    color: #000;
}

main[viewing="gallery"] #gallery-default-toggle,
main[viewing="items"] #gallery-default-toggle
{
    display: block;
}
main[viewing="gallery"] h1.detail-blockname,
main[viewing="items"] h1.detail-blockname
{
    display: none;
}
main[viewing="gallery"] #gallery-frame {
    height: auto;
}

#detail-text
{
    padding: 20px 20px 20px 20px;
}
#accessory-container,
#gallery-container
{
    width: 50%;
    display: inline-block;
    background-color: #000;
}
#accessory-container
{
    border-right: 1px solid var(--light-grey);
}
#accessory-container > h2:first-child,
#gallery-container > h2:first-child
{
    display: none;
}
#items-toggle.active,
#gallery-toggle.active
{
    background-color: var(--sky-blue);
    color: #000;
}
#season-detail-container
{
    padding-top: 63px;
}
#gallery-hint-center-holder
{
    width: 75%;
    height: 200px;
}
#gallery-hint-center-holder .text-btn-holder
{
    margin-top: 50px;
}
@media screen and (min-width: 768px) {
    #detail-layout-container
    {
        display: flex;
        flex-wrap: wrap;
        padding-top: 130px;
        height: calc( 100vh - 20px);
        overflow: hidden;
        margin-bottom: 0;
    }
    #detail-layout-container aside
    {
        flex: 1;
        /*border-top: 1px solid var(--light-grey);*/
        -webkit-overflow-scrolling: touch;
        max-height: 100%;
        overflow-y: scroll;
    }
    #detail-layout-container aside .detail-blockname,
    #detail-layout-container main #season-detail-sticky-container
    {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
    }
    #detail-layout-container aside,
    #detail-layout-container main
    {
        scrollbar-color: var(--light-grey) transparent;
    }
    #detail-layout-container aside::-webkit-scrollbar,
    #detail-layout-container main::-webkit-scrollbar {
        width: 5px;
    }
    #detail-layout-container aside::-webkit-scrollbar-track,
    #detail-layout-container main::-webkit-scrollbar-track {
        background-color: transparent;
        border-top: 1px solid var(--light-grey);
    }
    #detail-layout-container aside::-webkit-scrollbar-thumb,
    #detail-layout-container main::-webkit-scrollbar-thumb {
        background-color: var(--light-grey);
    }
    #detail-layout-container main
    {
        flex: 2;
        border-left: 1px solid var(--light-grey);
        border-right: 1px solid var(--light-grey);
        -webkit-overflow-scrolling: touch;
        max-height: 100%;
        overflow-y: scroll;
        /*border-top: 1px solid var(--light-grey);*/
    }
    #season-detail-container
    {
        padding-top: 0;
    }
    h1.detail-blockname, #gallery-default-toggle
    {
        border-bottom: 1px solid var(--light-grey);
    }
    #gallery-frame
    {
        height: calc(100% - 34px);
    }
    #gallery-frame .detail-blockname
    {
        border-top: 1px solid var(--light-grey);
    }
    #accessory-container
    {
        /*border-bottom: 1px solid var(--light-grey);*/
        border-right: none;
        display: block;
        width: initial;
        padding-bottom: 20px;
    }
    #accessory-container > h2:first-child
    {
        display: block;
    }
    #accessory-container > #items-toggle
    {
        display: none;
    }
    #accessory-item-container
    {
        position: static;
        width: auto;
        max-height: none;
        height: auto;
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
    }
    .accessory-item
    {
        width: 100%;
        border-right: none;
    }
    .accessory-item-img
    {
        height: 150px;
    }
    .accessory-item-info
    {
        padding: 10px;
    }
    #rank-container {
        margin-top: 10px;
    }
    .rank {
        margin-right: 3px;
    }
    .rank:last-child {
        margin-right: 0;
    }
    #gallery-container
    {
        width: initial;
        display: block;
        padding-bottom: 20px;
    }
    #gallery-item-container
    {
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
        position: static;
        width: auto;
        max-height: none;
        height: auto;
        overflow: visible;
    }
    .gallery-option
    {
        width: 50%;
        display: inline-block;
        height: 150px;
    }
    #detail-text
    {
        padding: 10px 10px 20px 10px;
    }
}

@media screen and (min-width: 1100px) {

    .gallery-option
    {
        width: 33%;
    }
    .accessory-item
    {
        width: 50%;
        border-right: 1px solid var(--light-grey);
    }
    .accessory-item:nth-child(3n)
    {
        border-right: 1px solid var(--light-grey);
    }
    .accessory-item:nth-child(even)
    {
        border-right: none;
    }
}

@media screen and (min-width: 2000px) {

    .gallery-option
    {
        width: 25%;
        height: 200px;
    }
    .accessory-item
    {
        width: 33.33%;
        border-right: 1px solid var(--light-grey);
    }
    .accessory-item-img
    {
        height: 200px;
    }
    .accessory-item:nth-child(3n)
    {
        border-right: none;
    }
    .accessory-item:nth-child(even)
    {
        border-right: 1px solid var(--light-grey);
    }
}
